// Fonts
@import url("https://fonts.googleapis.com/css?family=Nunito");

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap/scss/bootstrap";

/* Navigation CSS */

#loginnav:hover,
#logginnav:focus {
    text-decoration: none;
    border-top: 3px solid #ffe924;
}

.slogan {
    padding-left: 20vw;
    padding-top: 300px;
    padding-bottom: 225px;
}

.nav-link {
    display: block;
    padding: 0.5rem 1rem;
    border-top: 3px solid transparent;
    color: #ffffff;
}

/* Body CSS font */

body {
    font-family: "Roboto", sans-serif;
}

h6 {
    font-family: "Oswald", sans-serif;
}

/* Increase h1 size / normal size = 2.25rem */
h1,
.h1 {
    font-size: 4rem;
}

#hundred-up {
    background-color: white;
    margin-top: -100px;
}

/* Everything smaller than 1200px */

@media (max-width: 1200px) {
    .navbar {
        // background-image: url("/images/caspar-camille-rubin-7SDoly3FV_0-unsplash-original-greyscale_blur.jpg");
        background-color: black;
    }
    #hundred-up {
        margin-top: 0px;
    }
}
