/* #module {
    padding: 1rem;
    border-width: 1px;
    border-style: solid;
    border-image: linear-gradient(
            to bottom,
            rgb(99, 99, 99),
            rgba(255, 255, 255, 0)
        )
        1 100%;
    box-shadow: 0 4px 6px -6px black;
} */
