/* Navigation CSS */

#loginnav:hover,
#logginnav:focus {
    text-decoration: none;
    border-top: 3px solid #ffe924;
}

.slogan {
    padding-left: 20vw;
    padding-top: 100px;
    padding-bottom: 150px;
}

/* normal size = 2.25rem */
h1,
.h1 {
    font-size: 4rem;
}

.nav-link {
    display: block;
    padding: 0.5rem 1rem;
    border-top: 3px solid transparent;
    color: #ffffff;
}
